@import "~bootstrap/scss/bootstrap";
@import "~select2/dist/css/select2.css";
@import "~@ttskch/select2-bootstrap4-theme/dist/select2-bootstrap4.css";
@import "~tempusdominus-bootstrap-4/build/css/tempusdominus-bootstrap-4.css";
@import "~@fortawesome/fontawesome-free/css/all.css";
@import "~sweetalert2/src/sweetalert2.scss";
@import "~toastr/toastr";

html {
    font-size: 0.8rem;
}

@include media-breakpoint-up(sm) {
    html {
        font-size: 1rem;
    }
}

@include media-breakpoint-up(md) {
    html {
        font-size: 1rem;
    }
}

@include media-breakpoint-up(lg) {
    html {
        font-size: 1rem;
    }
}
body {
    background: rgb(0, 143, 76);
    background: linear-gradient(
        0deg,
        rgba(0, 143, 76, 1) 0%,
        rgba(102, 219, 151, 1) 47%,
        rgba(213, 255, 242, 1) 100%
    );
    min-height: 100vh;
    color: #444444;
    font-family: "Roboto", sans-serif;
}
.form-label {
    margin-bottom: 1px;
}
.btn-dark {
    background-color: #343a40;
    color: #ffffff;
}
